{% extends 'base.html' %} 
{% block title %}Create new User {%endblock%} 
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
          <h1>Add New User</h1>
        </div>
        <div class="col-md-3"></div>
            <div class="col-md-8">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <!-- User Form Fields -->
                    <div>
                      <label for="{{ user_form.username.id_for_label }}">Username:</label>
                      {{ user_form.username }}
                      {% if user_form.username.errors %}
                        <ul class="errorlist">
                          {% for error in user_form.username.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                    <div>
                        <label for="{{ user_form.first_name.id_for_label }}">first_name:</label>
                        {{ user_form.first_name }}
                        {% if user_form.first_name.errors %}
                          <ul class="errorlist">
                            {% for error in user_form.first_name.errors %}
                              <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </div>
                      <div>
                        <label for="{{ user_form.last_name.id_for_label }}">last_name:</label>
                        {{ user_form.last_name }}
                        {% if user_form.last_name.errors %}
                          <ul class="errorlist">
                            {% for error in user_form.last_name.errors %}
                              <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </div>
                    <div>
                      <label for="{{ user_form.password.id_for_label }}">Password:</label>
                      {{ user_form.password }}
                      {% if user_form.password.errors %}
                        <ul class="errorlist">
                          {% for error in user_form.password.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                    <div>
                      <label for="{{ user_form.email.id_for_label }}">Email:</label>
                      {{ user_form.email }}
                      {% if user_form.email.errors %}
                        <ul class="errorlist">
                          {% for error in user_form.email.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                  
                    <!-- Profile Form Fields -->
                    <div>
                      <label for="{{ profile_form.bio.id_for_label }}">Bio:</label>
                      {{ profile_form.bio }}
                      {% if profile_form.bio.errors %}
                        <ul class="errorlist">
                          {% for error in profile_form.bio.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                    <div>
                      <label for="{{ profile_form.profile_pic.id_for_label }}">Profile Picture:</label>
                      {{ profile_form.profile_pic }}
                      {% if profile_form.profile_pic.errors %}
                        <ul class="errorlist">
                          {% for error in profile_form.profile_pic.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                    <div>
                      <label for="{{ profile_form.role.id_for_label }}">Role:</label>
                      {{ profile_form.role }}
                      {% if profile_form.role.errors %}
                        <ul class="errorlist">
                          {% for error in profile_form.role.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                    <div>
                      <label for="{{ profile_form.website_url.id_for_label }}">Website URL:</label>
                      {{ profile_form.website_url }}
                      {% if profile_form.website_url.errors %}
                        <ul class="errorlist">
                          {% for error in profile_form.website_url.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                    <div>
                      <label for="{{ profile_form.facebook_url.id_for_label }}">Facebook URL:</label>
                      {{ profile_form.facebook_url }}
                      {% if profile_form.facebook_url.errors %}
                        <ul class="errorlist">
                          {% for error in profile_form.facebook_url.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                    <div>
                      <label for="{{ profile_form.twitter_url.id_for_label }}">Twitter URL:</label>
                      {{ profile_form.twitter_url }}
                      {% if profile_form.twitter_url.errors %}
                        <ul class="errorlist">
                          {% for error in profile_form.twitter_url.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                    <div>
                        <button class="btn btn-info btn-block">Submit </button>
                      </div>
                </form>
                  
            </div>
        </div>
    </div>
</div>

{% endblock %}
