{% extends 'base.html' %}
{% block title %}Create a new blog category{% endblock %}
{% block content %}

    <H1>Add Category</H1>
    <br/><br/>
    <div class="form-group">
        <form method=POST>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Add Category</button>
        </form>
    </div>

{% endblock %}