{% extends 'base.html' %}
{% block title %}Create a new blog post{% endblock %}
{% block content %}

    <H1>Add Post</H1>
    <br/><br/>
    <div class="form-group">
        <form method=POST enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-secondary">Post</button>
        </form>
    </div>
    <br/>
    <script>
        var name = "{{ user.id }}";
        document.getElementById("user").value = name;
    </script>

{% endblock %}