{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ post.title_tag }}
{% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>
<small>By: 
    {{ post.author.first_name }} 
    {{ post.author.last_name }} - 
    {{ post.post_date }}
    
    {% if user.profile.role == "moderator" or user.is_superuser == True or user.id == post.author.id %}
            - <a href="{% url 'update_post' post.pk %}">(Edit)</a>
            <a href="{% url 'delete_post' post.pk %}" style="color: red">(Delete)</a>
    {% endif %}
</small><br/>
<hr>
<br/>
{{ post.body|safe }}

<br/>
<br/>
<hr>
<br/>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
{% if user.is_authenticated %}
    {% if liked %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button> 
    {% else %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button> 
    {% endif %}
{% else %}
<small><a href="{% url 'login' %}">Log in</a> to like</small>
{% endif %}

    - {{ total_likes }} Likes
</form>
<br/>
<div class="card mb-3" style="background-color:#404040; color:#f2f2f2;">
    <div class="row g-0">
      <div class="col-md-2">
    {% if post.author.profile.profile_pic %}
        <img src="{{ post.author.profile.profile_pic.url }}" width="200" height="200">
    {% else %}
        <img src="{% static 'blog/images/default_profile_pic.png' %}" width="200" height="200">
    {% endif %}
      </div>
      <div class="col-md-10 px-2">
        <div class="card-body">
          <h5 class="card-title d-flex">
              {{ post.author.first_name }} 
              {{ post.author.last_name }}

              {% if post.author.profile.role == "scholar" %}
              <div class="d-flex p-1 mx-2">
                {% for tag in post.author.profile.tags.all %}
                  <code class="text-info bg-gradient"> <span class="mx-1">{{ tag.name }} </span> </code>
                {% endfor %}
              </div>
              {% endif %}
          </h5>
         
          <p class="small text-muted">
              {% if post.author.profile.id and post.author.profile.role != "end_user" %}
                  <a href="{% url 'show_profile_page' post.author.id %}">Profile Page</a>
              {% endif %}
              {% if post.author.profile.website_url %}
                | <a href="{{ post.author.profile.website_url }}">Website</a>
              {% endif %}
              {% if post.author.profile.facebook_url %}
                | <a href="{{ post.author.profile.facebook_url }}">Facebook</a>
              {% endif %}
              {% if post.author.profile.twitter_url %}
                | <a href="{{ post.author.profile.twitter_url }}">Twitter</a>
              {% endif %}
              {% if post.author.profile.instagram_url %}
                | <a href="{{ post.author.profile.instagram_url }}">Instagram</a>
              {% endif %}
              {% if post.author.profile.pinterest_url %}
                | <a href="{{ post.author.profile.pinterest_url }}">Pinterest</a>
              {% endif %}
           </p>
          <p class="card-text">{{ post.author.profile.bio }}</p>
        </div>
      </div>
    </div>
  </div>
<br/>
<h2>Comments</h2>
<br/>
{% if not post.comments.all %}

  {% if user.profile.role != "end_user" %}
    No comments yet...<a href="{% url 'add_comment' post.pk %}">Add one</a>
  {% endif %}
{% else %}
<a href="{% url 'add_comment' post.pk %}">Add comment</a>
  {% for comment in post.comments.all %}
    {% if not comment.hidden %}
      <strong class="d-flex ">
        {{ comment.user.first_name }} {{ comment.user.last_name }} 

        {% comment %} Adding tags in front of name {% endcomment %}
        {% if comment.user.profile.tags.count > 0 and comment.user.profile.role == "scholar" %}
        <div class="mx-2">
          {% for tag in comment.user.profile.tags.all %}
            <code class="text-info bg-gradient"> {{ tag.name }}|  </code>
          {% endfor %}
        </div>
        {% endif %}
        
        -
        {{ comment.date_added }}
      </strong>
      <br/>
        {{ comment.body }}
        {% if user.profile.role == "moderator" or user.is_superuser %}
          <a href="{% url 'hide-comment' comment.pk %}" style="color: red">(Hide)</a>
          {% if user.id == comment.user.id %}
            <a href="{% url 'edit-comment' comment.pk %}">(Edit)</a>
          {% endif %}
        {% endif %}

        <br/><br/>
        
    {% endif %}
  {% endfor %}
  
  {% if user.profile.role != "end_user" %}
    <a href="{% url 'add_comment' post.pk %}">Add comment</a>
  {% endif %}
{% endif %}
<hr>


<br/>
<br/>

{% endblock %}