<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>{% block title %}Blog{% endblock %}</title>
  </head>
  <body style="background-color:#404040; color:#f2f2f2;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">Blog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if not user.is_authenticated %}
              <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Log in</a></li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'category-list' %}">Categories</a>
            </li>
            {% else %}
              <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log out</a></li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add_post' %}">
                  {% if user.profile and user.profile.role == "end_user" %} 
                  Add Post
                  {% else %}
                  Ask A Question
                  {% endif %}
                </a>
              </li>   
              <li class="nav-item">
                <a class="nav-link" href="{% url 'category-list' %}">Categories</a>
              </li>

              {% if user.is_superuser or user.profile.role == "moderator" %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'add_category' %}">Add Category</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'manage-users' %}">Manage Users</a>
                </li>
              {% endif %}


              {% if user.profile.role != "end_user" %}              
               
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'pending-posts' %}">Pending Posts</a>
                </li>
              {% endif %}

              <li class="nav-item">
                <a class="nav-link" href="{% url 'my-posts' %}">My Posts</a>
              </li>

              {% if user.is_authenticated and user.profile.role and user.profile.role != "end_user" and user.is_superuser == False  %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ user.first_name }} {{ user.last_name }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Settings</a></li>
                    <li><a class="dropdown-item" href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile Page</a></li>
                    <li><a class="dropdown-item" href="{% url 'show_profile_page' user.id %}">Show Profile Page</a></li>
                    <li><a class="dropdown-item" href="{% url 'create_profile_page' %}">Create Profile Page</a></li>
                </ul>
              </li>
              {% endif %}


            {% endif %}
             
            </ul>
          </div>
        </div>
      </nav>
    <br/>
    <div class="container">
    {% block content %}

    {% endblock %}
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!-- Bootstrap JS Bundle -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  
  {% block scripts %}
  <!-- Additional scripts can be added in child templates -->
  {% endblock %}
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>
