{% extends 'base.html' %}

{% block content %}

{% if category_posts %}

<H1>{{ cats }}</H1>

<ul>
{% for post in category_posts %}
<li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> 
     -
      {{ post.author.first_name }}
      {{ post.author.last_name }} - 
      {{ post.post_date }} <small>
      
      {% if user.is_staff %}
        {% if user.id == post.author.id %}
          - <a href="{% url 'update_post' post.pk %}">(Edit)</a>
          <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
        {% endif %}
      {% endif %}
      
      </small> <br/>
  {{ post.body|slice:":200"|safe }}</li>
{% endfor %}
</ul>

{% else %}
    <h2>There are, currently, no posts in this category.</h2>
{% endif %}

{% endblock %}