{% extends 'base.html' %}
{% block title %}Blog Categories{% endblock %}

{% block content %}

<h1>Blog Categories</h1>
<ul>
{% for item in cat_menu_list %}
    <li><h5><a href="{% url 'category' item|slugify %}" style="text-decoration: none;">{{ item }}</a></h5></li>
{% endfor %}
</ul>
{% endblock %}