{% extends 'base.html' %}
{% block title %}Delete blog post{% endblock %}
{% block content %}

{% if user.is_staff %}
    {% if user.id == post.author.id %}
        <H1>Delete Post</H1>
        <br/><br/>
        <h3>Delete: {{ post.title }}</h3>

        <br/>
        <div class="form-group">
            <form method=POST>
                {% csrf_token %}
                <strong>Are you sure?!</strong><br/><br/>
                <button class="btn btn-secondary">Delete Post</button>
            </form>
        </div>
    {% else %}
        You are not authorized to delete this post.
    {% endif %}
{% else %}

    You are not an authorized contributor to this blog.

{% endif %}

{% endblock %}