{% extends 'base.html' %}
{% block title %}Comment on blog post{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <H1>Add Comment</H1>
    <br/><br/>
    <div class="form-group">
        <form method=POST>
            {% csrf_token %}
            <textarea rows="5" class="form-control" value="{{comment.body}}"></textarea>
            <button class="btn btn-secondary">Add Comment</button>
        </form>
    </div>
{% else %}

    You are not logged in so access to this page is limited.
    
{% endif %}

{% endblock %}