{% extends 'base.html' %}

{% block content %}

<H1>Posts</H1>

<ul>
{% for post in object_list %}
    <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> 
      - <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a> -
        {{ post.author.first_name }}
        {{ post.author.last_name }} - 
        {{ post.post_date }} <small>
        
        {% if user.is_staff %}
            {% if user.id == post.author.id or user.is_superuser or user.profile.role == "moderator" %}
                - <a href="{% url 'update_post' post.pk %}">(Edit)</a>
                <a href="{% url 'delete_post' post.pk %}" class="text-danger">(Delete)</a>
            {% endif %} 
        {% endif %}
        
        </small> <br/>
    {{ post.snippet }}</li>
{% endfor %}
</ul>

{% endblock %}