{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if True %}

<div class="container">
    <div class="row">

<div class="col-md-12">
    <h1>All Users
        {% if user.is_superuser %}
        <a href="{% url 'add-user' %}"><button class="btn btn-outline-info float-end">+ Add New</button></a>
        {% endif %}
    </h1>
</div>

   
<!-- Add Tags Modal -->
<div class="modal fade" id="addTagsModal" tabindex="-1" role="dialog" aria-labelledby="addTagsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="{% url 'add-tag' %}" method="POST">
            {% csrf_token %}
            <div class="modal-header">
            <h5 class="modal-title text-dark" id="addTagsModalLabel">Add Labels</h5>
            <button type="button" class="close btn btn-xs btn-danger" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <input type="text" name="tag" id="tagInput" class="form-control" placeholder="Enter a tag">
            <input type="text" name="profileId" id="profileId" class="form-control" style="display: none">
            <input type="text" name="userId" id="userId" class="form-control" style="display: none">
            </div>
            <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="addTagBtn">Add Label</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
      </div>
    </div>
  </div>


{% for user in users %}

<div class="col-md-4">

    <div class="card mb-3">
        {% if user.profile.profile_pic %}
        <img  class="card-img-top" src="{{ user.profile.profile_pic.url }}" width="100%" height="240px" style="object-fit: cover">
    {% else %}
        <img  src="{% static 'blog/images/default_profile_pic.png' %}" width="100%" height="240px">
    {% endif %}
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'show_profile_page' user.pk %}">{{ user.first_name }}
            {{ user.last_name }} - 
            ( {{ user.profile.role }} )</a> </h4>
        <span class="card-text text-dark">{{ user.profile.bio|slice:"0:50" }}...</span>
      </div>
      <div class="card-footer">
        <form action="{% url 'remove-user' user.pk %}">            
            <a href="{% url 'edit-user' user.pk %}" class="btn btn-sm btn-info float-end mx-2">Edit</a>
            <button class="btn btn-sm btn-danger float-end">Remove</button>
            {% if user.profile.role != "end_user" %}
                <button type="button" class="btn btn-sm btn-primary addTag" data-userId="{{ user.id }}" data-profileId="{{ user.profile.id }}" data-bs-toggle="modal" data-bs-target="#addTagsModal">
                Add Labels 
                </button>
                {% if user.profile.tags.count < 1 %}
                <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#addTagsModal">
                    No Labels
                    </button>
                {% else %}
                    <div class="dropdown float-end">                    
                        <button class="btn btn-secondary btn-sm mx-2 dropdown-toggle" type="button" id="tagsDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Labels 
                        </button>
                        <div class="dropdown-menu" aria-labelledby="tagsDropdown" id="tagsDropdownMenu">
                        {% for tag in user.profile.tags.all %}
                            <button class="dropdown-item btn-sm d-flex justify-content-between" onclick="removeTag({{tag.id}})" type="button" data-tag-id="{{ tag.id }}"><span >{{ tag }}</span> <span class="remove-tag" style="color: red">&times;</span></button>
                        {% endfor %}
                        </div>
                    </div>
              {% endif %}
                
            {% endif %}
        </form>
      </div>
    </div>
</div>

{% endfor %}
</div>
</div>
</div>

{% else %}
    <h2>There are, currently, no posts in this category.</h2>
{% endif %}



{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        // Add Tag Button
        $(".addTag").click(function(e) {
            let profileId = this.getAttribute("data-profileId")
            let userId = this.getAttribute("data-userId")
            $("#profileId").val(profileId)
            $("#userId").val(userId)
        })

        // Remove Tag Button 
        
        $(document).on('click', '.remove-tag', function() {
          $(this).closest('.dropdown-item').remove();
        });
      });

      function removeTag(id) {
        axios.post(`{% url 'delete-tag' %}`, {id}).then((res) => {
            console.log("deleted")
        })
    }
</script>

{% endblock %}