{% extends 'base.html' %}

{% block content %}

<H1>My Posts</H1>

<ul>
{% for post in posts %}
    <li class="my-4">
        {% if post.approved %}
            <span class="badge badge-pill badge-primary text-primary"> ( Approved )</span>
        {% else %}
            <span class="badge badge-pill badge-secondary text-secondary"> ( UnApproved )</span>
        {% endif %}
         
        <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> 
      - <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a> -
        {{ post.author.first_name }}
        {{ post.author.last_name }} - 
        {{ post.post_date }} <small>
        {% if user.is_superuser or user.id == post.author.id or user.profile.role == "admin" or user.profile.role == "moderator"  %}
            <a href="{% url 'update_post' post.pk %}">(Edit)</a>
            - <a href="{% url 'delete_post' post.pk %}" class="text-danger">(Delete)</a>
        {% endif %} 
        
        </small> <br/>
        {{ post.snippet }}

        <div class="bg-gradient mt-2">
            {% if post.reject_reason.first %}
            <h6 class=" p-2">Admin Suggestions: <code>{{ post.reject_reason.first.reason }}</code> </h6>
            {% else %}
            {% endif %}
        </div>
    </li>
{% endfor %}

{% if posts.count < 1 %}
    <h4>
        You haven't added any posts yet! 
    </h4>
{% endif %}
</ul>

{% endblock %}