{% extends 'base.html' %}

{% block content %}

<H1>New Posts</H1>

<!-- Add Tags Modal -->
<div class="modal fade" id="replyAuthor" tabindex="-1" role="dialog" aria-labelledby="replyAuthorLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="{% url 'add-reason' %}" method="POST">
            {% csrf_token %}
            <div class="modal-header">
            <h5 class="modal-title text-dark" id="replyAuthorLabel">Indicate Reason For Not Accepting This Question</h5>
            <button type="button" class="close btn btn-xs btn-danger" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <textarea class="form-control" name="reason" placeholder="type reason here.."></textarea>
            <input type="text" name="post_id" id="post_id" class="form-control" style="display: none">
            </div>
            <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="addTagBtn">Submit</button>
            </div>
        </form>
      </div>
    </div>
  </div>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <span {% if message.tags %} class="bg-gradient d-flex text-white {{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<ul>
{% for post in posts %}
    <li class="my-5"><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> 
      - <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a> -
        {{ post.author.first_name }}
        {{ post.author.last_name }} - 
        {{ post.post_date }} <small>
        {% if user.is_superuser or user.id == post.author.id or user.profile.role == "admin" or user.profile.role == "moderator"  %}
            - <a class="text-warning" href="{% url 'activate-post' post.id %}">(Activate)</a>
            - <a href="{% url 'update_post' post.pk %}">(Edit)</a>
            - <a href="{% url 'delete_post' post.pk %}" class="text-danger">(Delete)</a>
        {% endif %} 
        
        </small> <br/>
    {{ post.snippet }}

    <div class="bg-gradient mt-2">
      {% if post.reject_reason.first %}
      <h6 class=" p-2">Rejection Message: <code>{{ post.reject_reason.first.reason }}</code> </h6>
      {% else %}
      <button class="btn btn-sm btn-success float-end addReason" data-postId="{{ post.id }}" data-bs-toggle="modal" data-bs-target="#replyAuthor">reply to author</button>
      {% endif %}
  </div>

</li>
{% endfor %}
</ul>

{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function() {
        // Add Tag Button
        $(".addReason").click(function(e) {
            let postId = this.getAttribute("data-postId")
            $("#post_id").val(postId)
        })

      });
</script>

{% endblock %}