{% extends 'base.html' %} 
{% block title %}Reset Password{% endblock %} 
{% block content %}

<h1>Set New Password</h1>
<form method="POST" action="{% url 'reset-password' email %}">
    {% csrf_token %}

    <input type="text" style="display: none" name="email" value="{{ email }}" />

    <div>
        <label for="id_password">New Password:</label>
        <input type="password" name="password" id="id_password" class="form-control" />
    </div>

    <div>
        <label for="id_confirm_password">Confirm Password:</label>
        <input
            type="password"
            name="confirm_password"
            id="id_confirm_password" class="form-control"
        />
    </div>

    <button class="mt-2 btn btn-success float-end" type="submit">Reset Password</button>

    {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
</form>

{% endblock %}
