{% extends 'base.html' %}
{% block title %}Edit blog post{% endblock %}
{% block content %}

{% if user.id == post.author.id or user.is_superuser or user.profile.role == "moderator" %}
        <H1>Update Post</H1>
        <br/><br/>
        <div class="form-group">
            <form method=POST>
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-secondary">Update</button>
            </form>
        </div>
        <br/>
    {% else %}
    You are not authorized to edit this post
    {% endif %}
    
{% endblock %}