{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}

<H1>Change Password</H1>
<br/><br/>
<div class="form-group">
    <form method=POST>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary">Change Password</button>
    </form>
<br/><br/>
<ul>
    <li>Your password can't be too similar to your other personal information.</li>
    <li>Your password must contain at least 8 characters.</li>
    <li>Your password can't be a commonly used password.</li>
    <li>Your password can't be entirely numeric.</li>
</ul>
</div>
{% endblock %}