{% extends 'base.html' %}
{% block title %}Create A New Profile Page{% endblock %}
{% block content %}

{% if user.is_staff %}
    <H1>Create Profile Page</H1>
    <br/><br/>
    <div class="form-group">
        <form method=POST enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Create Profile Page</button>
        </form>
    </div>
    
{% else %}

    You are not an authorized contributor to this blog.
    
{% endif %}

{% endblock %}