{% extends 'base.html' %}
{% block title %}Edit Profile Page{% endblock %}
{% block content %}

    {% if user.id == profile.user.id %}
    <H1>Edit Profile Page</H1>
    <br/><br/>
    <div class="form-group">
        <form method=POST enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Update Profile Page</button>
        </form>
    </div>
    
    {% else %}

        You are not the correct user to edit this page.
        
    {% endif %}

{% endblock %}