{% extends 'base.html' %}
{% block title %}Edit Settings{% endblock %}
{% block content %}

<H1>Edit Settings</H1>
<br/><br/>

{{ user.profile.bio }}

<br/><br/>

<div class="form-group">
    <form method=POST>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary">Update Settings</button>
    </form>
</div>
{% endblock %}