{% extends 'base.html' %}
{% block title %}Log in{% endblock %}
{% block content %}

<H1>Log in</H1>
<br/><br/>
<div class="form-group">
    <form method=POST>
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <br/>
        <div class="mb-3">
            <button class="btn btn-secondary">Log in</button>
        </div>
        {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
    </form>
</div>
<br/>
Not registered? Sign up <a href="{% url 'register' %}">here</a>
{% endblock %}