{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}

<H1>Register</H1>
<br/><br/>
<div class="form-group">
    <form method=POST>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary">Register</button>
    </form>
</div>
{% endblock %}