{% extends 'base.html' %}
{% load static %}

{% block content %}

<H1>User Profile</H1>
<br/>

<div class="card mb-3" style="background-color:#404040; color:#f2f2f2;">
    <div class="row g-0">
      <div class="col-md-2">
    {% if page_user.profile.profile_pic %}
        <img src="{{ page_user.profile.profile_pic.url }}" width="200" height="200">
    {% else %}
        <img src="{% static 'blog/images/default_profile_pic.png' %}" width="200" height="200">
    {% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title d-flex">
              {{ page_user.first_name }} 
              {{ page_user.last_name }}

              {% if page_user.profile.tags.count > 0 and page_user.profile.role == "scholar" %}
              <div class="mx-2">
                {% for tag in page_user.profile.tags.all %}
                  <code class="text-info bg-gradient"> <span class="mx-1">{{ tag.name }} </span> </code>
                {% endfor %}
              </div>
              {% endif %}
          </h5>
          <p class="small text-muted">
              {% if page_user.profile.website_url %}
                  <a href="{{ page_user.profile.website_url }}">Website</a>
              {% endif %}
              {% if page_user.profile.facebook_url %}
                | <a href="{{ page_user.profile.facebook_url }}">Facebook</a>
              {% endif %}
              {% if page_user.profile.twitter_url %}
                | <a href="{{ page_user.profile.twitter_url }}">Twitter</a>
              {% endif %}
              {% if page_user.profile.instagram_url %}
                | <a href="{{ page_user.profile.instagram_url }}">Instagram</a>
              {% endif %}
              {% if page_user.profile.pinterest_url %}
                | <a href="{{ page_user.profile.pinterest_url }}">Pinterest</a>
              {% endif %}
           </p>
          <p class="card-text">{{ page_user.profile.bio }}</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
